[2012-11-29 03:55] maxtoroq opened #1 "Skip Refresh after Insert on non-entity types"
To avoid exception

[2012-12-13 21:38] #1 closed, assigned to maxtoroq

[2013-03-16 05:00] maxtoroq opened #2 "Use parameter on SqlBuilder OFFSET(int) and LIMIT(int)"
instead of appending the int, to allow for query caching on the database server.

[2013-04-21 17:22] maxtoroq opened #3 "OleDbConnection and OdbcConnection do not override DbProviderFactory"
Implement workaround?

[2013-05-01 17:04] maxtoroq opened #4 "SqlSet<T>.AsEnumerable() fails if T is a value type"
[code]

See http://stackoverflow.com/a/9688362/39923

[2013-05-13 03:23] #2 closed, assigned to maxtoroq

[2013-05-13 03:23] #3 closed, assigned to maxtoroq

[2013-05-13 03:23] #4 closed, assigned to maxtoroq

[2013-06-11 18:23] maxtoroq opened #6 "SqlBuilder.Append(SqlBuilder) and SqlBuilder.JoinSql generate unnecessary extra whitespace"
Because it uses the implementation for subqueries, where whitespace is added for formatting.

[2013-07-10 21:19] xavierzwirtz opened #7 "Error trying to install via NuGet"
When I try to install DbExtensions via nuget wiht "Install-Package DbExtensions", it throws "Failed to add reference to 'System.Core'. Please make sure that it is in the Global Assembly Cache". I am trying to install it into a .Net 2.0 project, does DbExtensions require .Net 4?

[2013-07-11 16:59] #7 closed, assigned to nobody

[2013-09-02 15:15] maxtoroq opened #10 "Cannot use array parameter in SqlBuilder"
**NOTE: In v6, this is no longer an issue. For more information see [SqlBuilder Tutorial: Lists](http://maxtoroq.github.io/DbExtensions/docs/SqlBuilder.html#lists).**

e.g.

[code]

Need to workaround [parameter expansion](https://github.com/maxtoroq/DbExtensions/blob/v5/docs/SqlBuilder.md#arrays), like this:

[code]

[2013-09-03 16:00] MarkCarter opened #11 "Oracle SQL Support"
SQL Builder support for Oracle using MS Ado.Net provider for Oracle. System.Data.OracleClient

[2014-01-26 04:26] maxtoroq opened #13 "[SqlSet] Skip().OrderBy() are applied in the same query instead of applying Skip() first"

[2014-01-28 18:14] #13 closed, assigned to maxtoroq

[2014-02-01 04:17] #11 closed, assigned to nobody

[2014-02-01 04:39] maxtoroq opened #15 "SqlSet.Include function for query expansion"

[2014-02-27 23:12] maxtoroq opened #17 "Support for Enum properties that map to text columns"

[2014-03-07 15:34] maxtoroq opened #18 "Insert one-to-one associations"

[2014-03-10 03:50] #10 closed, assigned to maxtoroq

[2014-03-23 00:13] hrvoje-grabusic opened #21 "Where in String[] only one param ??"
Hi,
I think this is a bug when i do:
.WHERE("i.UUID IN ({0})", new string[]{"test1","test2","test3"});
I get only one param:
SELECT \* FROM [Area.Image] as i WHERE i.UUID IN (@p0)
Is that broken ?

But with integers i get expected 3 params:
.WHERE("i.UUID IN ({0})", new int[]{1,2,3});
SELECT \*
FROM [Area.Image] as i
WHERE i.UUID IN (@p0, @p1, @p2)

[2014-04-03 22:24] maxtoroq opened #23 "Support Select in SqlSet without specifying a result type"
Currently, the API assumes that if you call Select you want to project to a different type. You can simply pass the same type to work around it:

[code]

However, if you are working with an untyped set, you cannot call Select and stay untyped (using DynamicMapper), you have to pass a result type.

[2014-04-26 23:38] #21 closed, assigned to maxtoroq

[2014-04-27 23:55] #18 closed, assigned to maxtoroq

[2014-04-28 00:06] #23 closed, assigned to maxtoroq

[2014-04-28 00:06] #17 closed, assigned to maxtoroq

[2014-04-28 00:06] #15 closed, assigned to maxtoroq

[2014-04-28 00:06] #6 closed, assigned to maxtoroq

[2014-06-17 00:13] maxtoroq opened #24 "Allow eager loading n:1 and 1:1 when loading 1:n"

[2014-06-17 00:43] maxtoroq opened #25 "Setting container object when loading 1:n sometimes fails"
[SqlTable.cs#L1852](https://github.com/maxtoroq/DbExtensions/blob/v5.0.0/src/DbExtensions/SqlTable.cs#L1852)

Here's the source of the problem: [AttributedMetaModel.cs#L995](https://github.com/maxtoroq/DbExtensions/blob/b42e7ac6dff7eaecef65c9b517c10cd0fbfe3d72/src/DbExtensions/Metadata/AttributedMetaModel.cs#L995)

[2014-08-29 09:03] neaplus opened #27 "executing translated sql query with exec sp_executesql"

[2014-09-18 15:29] dplaskon opened #28 ""_" SqlBuilder method does not work in VB.NET"
I think it may be because it is a reserved keyword (explicit line continuation) in VB.NET -  but I'm not certain.

It's currently not possible to do something like this:

[code]

In VB.NET, unfortunately.

I think a solution may be to create an "alias" function such as "__" that calls "_" internally.

[2014-09-22 02:34] #28 closed, assigned to nobody

[2014-12-05 02:44] #27 closed, assigned to nobody

[2014-12-20 20:44] maxtoroq opened #29 "Append("{0}", SqlBuilder) and Append(SqlBuilder) behave differently"
`Append("{0}", SqlBuilder)` treats the SqlBuilder instance as a subquery, by adding a new line and increasing indentation. `Append(SqlBuilder)` treats it as a fragment, simply appends the text as it is.

[2014-12-31 07:14] iyilm4z opened #30 "Make SqlBuilder.cs a standalone file"
Dear Max Toro,
I use Dapper as my Micro ORM Tool as you already familiar with it. After a while it made me bored to build raw sql queries also i wanted to do something better with building Sql queries and thats why i looked for a Sql Builder Framework and i found your implementation as best Sql Builder. My problem is i just want to use your SqlBuilder.cs file by importing it to my project as file

[2014-12-31 21:14] #30 closed, assigned to maxtoroq

[2015-01-01 13:18] ismailyilmaz commented on #30
Dear Sir,
Thanks for fast reply, I am really appreciated, now it's just an awesome framework, keep making us happier..:)

[2015-01-16 19:44] maxtoroq opened #31 "SqlTable not handling array members properly"
Add, Update, etc. operations fail if the entity has an array member. See also #10.

[2015-01-20 11:00] cryo75 opened #32 "Append Offset"
Add the ability to append the offset using the following sql:

OFFSET {0} ROWS FETCH NEXT {1} ROWS ONLY

where {0} is the number of rows to skip and {1} is the number of results to return.

[2015-01-20 14:26] maxtoroq commented on #32
You can do it already:

[code]

[2015-01-25 01:45] #31 closed

[2015-01-28 00:11] #32 closed

[2015-02-04 05:15] cnsharp opened #33 "SqlServer 2008 support in SqlSet"
I found that SqlSet.Take and Skip method are based on SQL 2012.How can I do that in SQL 2008?
Thanks!

[2015-02-04 06:07] maxtoroq commented on #33
I'll see what I can do. Looks similar to Oracle's paging, using `ROW_NUMBER() OVER(ORDER BY )`.

[2015-02-05 14:35] dplaskon opened #34 "Table valued parameters with SqlBuilder"
Is it possible to use Table valued parameters (https://msdn.microsoft.com/en-us/library/bb675163%28v=vs.110%29.aspx) with SqlBuilder? If so, how?

[2015-02-05 14:58] maxtoroq commented on #34
You can use any object as parameter value, but if the parameter needs special configuration you'd need to create the command, make your changes then execute it.

[2015-02-05 20:11] dplaskon commented on #34
That's the route I ended up taking - thanks!

[2015-02-05 21:08] #34 closed

[2015-02-06 02:27] maxtoroq opened #35 "SqlSet pagination fails against Oracle"
Using Where/OrderBy then Skip/Take then Select (removing columns used on Where/OrderBy) fails because Select is incorrectly done in the inner query.

[2015-02-07 04:43] #35 closed

[2015-02-07 04:51] #33 closed

[2015-02-07 04:56] maxtoroq commented on #33
@cnsharp SqlServer 2008 support is complete. Please checkout the master branch to try it out. You have to decorate your database class with `[Provider(typeof(Sql2008Provider))]` to enable it, e.g.:

[code]

[2015-02-07 05:55] cnsharp commented on #33
Thank you very much!You are so quickly and dedicated.I'll try it now.

[2015-02-09 03:16] cnsharp commented on #33
@maxtorop
Hi Max,

Our DBA recommended a style like this which has a better performance in the middle of many pages

WITH
ID AS(
    SELECT
        __row_id = ROW_NUMBER() OVER(order by id DESC),
        id
    FROM dbo.tb WITH(NOLOCK)
    WHERE column_id = 1
)
SELECT
    ID.__row_id,
    DATA.*
FROM ID
    INNER JOIN dbo.tb DATA WITH(NOLOCK)
        ON DATA.id = ID.id
WHERE ID.__row_id BETWEEN 50

[2015-02-09 05:24] maxtoroq commented on #33
@cnsharp That level of fine tuning is not supported, use SqlBuilder instead. If you have more questions please create a new issue.

[2015-03-01 19:39] skarm61 opened #36 "Using SqlBuilder.SET"
Does DbExtension support Mysql? I use it with mysql and got some issues when i update records using
[code]
I get query like:
[code]
except
[code]
Can you help me?

[2015-03-01 20:19] maxtoroq commented on #36
The first parameter of the SET method is a format string. That means you have to do this:

[code]

If you are getting the field name from a variable then you can do this:

[code]

[2015-03-02 07:12] skarm61 commented on #36
Thanks for answer. It was my fail. In previous project I used it like
[code]
And now, when i start to use properties and attributes to autogenerate update and insert queries, I made this mistake. I should use
[code]
But it could be cool if you add one more method SET, which will receive property and value.

[2015-03-05 04:16] maxtoroq commented on #36
You can extend SqlBuilder using extension methods. My intention is to keep is simple and consistent.

[2015-03-05 04:16] #36 closed

[2015-05-12 22:59] maxtoroq opened #37 "Cannot use multipart identifier in Table annotation"
e.g.
[code]

SqlCommandBuilder does not check if identifier is already quoted.

[2015-06-19 19:05] Gillardo opened #38 "Cannot manipulate SqlBuilder??"
Sorry if i am using the code wrong, but i would like to generate a Sql query for inserting data.  I have a loop that i use to find the fields that i need to insert into and also the field values, something like this

    var builder = SQL
        .INSERT_INTO("myTable");

    var entity = new Dictionary<string, string>() {
        { "Name", "Bob" },
        { "Town", "MyTown" },
        { "County"

[2015-06-20 05:51] Gillardo commented on #38
Do not worry, i have been told that ordering matters in SqlBuilder.

[2015-06-20 05:51] #38 closed

[2015-06-20 05:56] Gillardo opened #39 "Parameter with byte[] not adding correctly"
On my entity i have a rowVersion field which in SQL is stored as timestamp.  I convert this in SQL to byte[].

When i want to update my entity i have building sql like so

    var updateBuilder = SQL
        .FROM("myTable")
        .SET("UpdatedDate = {0}", updated.UpdatedDate)
        .SET("UpdatedByUserId = {0}", updated.UpdatedByUserId)
        .WHERE("Id = {0}", updated.Id)
        .WHERE("Ro

[2015-06-20 16:03] maxtoroq commented on #39
See #10

[2015-06-20 16:03] #39 closed

[2015-06-20 18:27] Gillardo commented on #39
Thank u. Think it maybe helpful if this was on the readme or tutorial pages.

Thanks again
On 20 Jun 2015 17:03, "Max Toro" <notifications@github.com> wrote:

[2015-06-24 22:01] faridprogrammer opened #40 "WHERE with AND and OR"
How to generate query with WHERE clause that have multiple parts?
In [this](http://stackoverflow.com/questions/31035822/dbextensions-where-with-and-and-or) question developer wants to generate query like this

      SELECT *
      FROM myTable
      WHERE (Field1 LIKE '%a%' OR Field1 LIKE '%b%')
         AND (Field2 LIKE '%a%' OR Field2 LIKE '%b%')

Is there simple way to do it?

[2015-06-25 04:11] maxtoroq commented on #40
Answered on StackOverflow.

[2015-06-25 04:11] #40 closed

[2015-06-25 05:39] Gillardo opened #41 "Need to "extend" clause"
I think the _OR clause is great, but i need to extend the OR group with additional checks.

Could we have an "ExtendClause" method which basically, removes the last bracket, inserts the additional clause and adds the bracket onto the end?

Something like this.  Would this work, can you see any problems with it?

    public SqlBuilder ExtendClause(format, parameters)
    {
        // remove last )

[2015-06-25 19:05] maxtoroq commented on #41
No need to be out of the box, make it an extension method.

[2015-06-25 19:05] #41 closed

[2015-08-20 11:14] Gillardo opened #42 "Is there a way to use Sql parameters in queries?"
For example, i have 2 insert statements that i need to execute and the second one needs to use the SCOPE_IDENTITY() created from the first insert.

Can you do this using SqlBuilder?

Something like this

[code]

[2015-08-20 15:58] maxtoroq commented on #42
I don't know, did you try it?

[2015-08-20 17:07] Gillardo commented on #42
Tried it but a parameter is created with that value rather than using that
parameter
On 20 Aug 2015 4:58 pm, "Max Toro" <notifications@github.com> wrote:

[2015-08-20 17:41] maxtoroq commented on #42
I don't follow, you are not using parameter values in your SqlBuilder, the resulting command should only contain text, what happends beyond that is out of the scope of this library.

[2015-08-20 17:50] maxtoroq commented on #42
Now I see the problem, don't use the `VALUES` method, everything you pass will be treated as parameter values. Use `Append` or `AppendClause`.

[2015-08-21 12:58] StefanRKarlsson opened #43 "Problem with {0} = {1}"
Can't get this extension to work like this:

`SQL.SELECT("VoteId").WHERE("{0} = {1}", "columnName", "itemId");`

should it work ?

[2015-08-21 13:58] maxtoroq commented on #43
Placeholders are for parameter values or sub-queries. You can do this:

[code]

[2015-08-25 21:02] Gillardo commented on #42
Thanks. Working perfectly
On 20 Aug 2015 6:50 pm, "Max Toro" <notifications@github.com> wrote:

[2015-08-25 21:04] #42 closed

[2015-08-25 21:04] #43 closed

[2016-05-24 08:08] Gillardo opened #44 "dotnet core version"
Is there going to be a version of this created that will support dotnet core?

[2016-05-24 15:30] maxtoroq commented on #44
Not using .net core anytime soon.

[2016-07-29 09:43] Worldcycler commented on #44
.net core is now allready RC2 and supported by Microsoft on production environments.
It would be great if there could be a .Net Core version.

[2016-08-04 20:56] ensemblebd opened #45 "Need some more documentation"
I mean don't get me wrong, it's great for what it does cover.

1) How the heck does one perform an insert statement?
Yes there's the documented **SQL.INSERT_INTO** method, however that doesn't have a connection string option, so I'm not sure how the heck that's supposed to work...

2) And also, what if I'm intending on inserting multiple times in a loop? Is it going to create a new connection for

[2016-08-05 01:23] maxtoroq commented on #45
`SQL.INSERT_INTO()` is just a shortcut to `new SqlBuilder().INSERT_INTO()`.

About executing, you can choose different levels to work at:

**1. ADO.NET**: You can use [CreateCommand(DbConnection, SqlBuilder)](https://github.com/maxtoroq/DbExtensions/blob/v5/docs/api/DbExtensions/Extensions/CreateCommand_2.md) or [CreateCommand(DbProviderFactory, SqlBuilder)](https://github.com/maxtoroq/DbExtension

[2016-08-05 01:28] maxtoroq commented on #45
I just realized you are creating a batch insert, that's also possible, but you should append a semicolon at the end of each statement. e.g. `builder.INSERT_INTO().VALUES().Append(";")`

[2016-08-05 01:30] ensemblebd commented on #45
awesome!!! thank you!! I saw the transaction system, and was wondering about that. Looks like the append is the way to go for batching them, that should do the trick. Have to say I am loving the flow, saves so much time. Now i just have to convert a couple hundred standard sql connections over to this system, and life will be good.

I appreciate the fast support, and the assistance in thinking thi

[2016-08-08 23:30] #45 closed

[2016-08-10 04:31] maxtoroq commented on #44
@Worldcycler ask your employer to support open source.

[2016-08-11 16:19] ensemblebd opened #46 "Support explicit DbParameter on CreateCommand"
Sorry to bother again, but am not able to create a query that inserts/updates spatial data.

http://stackoverflow.com/questions/5644466/updating-sql-server-2008-records-w-spatial-data-types-via-massive-orm-executen

The error is as seen in that thread. However there is no way to specify that property for the value, it would seem?

I'm simply trying to use `SqlGeometry myvalue = SqlGeometry.Point(t

[2016-08-11 19:15] maxtoroq commented on #46
Currently, you cannot use an explicit DbParameter with SqlBuilder. The workaround is to use `null` instead, create the command and modify/replace the parameter.

I think it would be a good improvement to support explicit DbParameter for special cases like this. I'll work on it.

[2016-08-11 19:18] ensemblebd commented on #46
Awesome thank you, I'll give this a try. Definitely appreciate the support and assistance.

[2016-08-18 13:25] dplaskon opened #47 "Add support for CROSS_JOIN to SqlBuilder"
I've created an extension method to do this (which was super easy) -- but perhaps consider supporting this directly?

[2016-08-18 16:41] dplaskon commented on #47
I've sent a pull request for this.

[2016-08-19 12:52] maxtoroq commented on #47
See #48

[2016-08-19 12:52] #47 closed

[2016-09-08 18:35] maxtoroq commented on #44
I plan on supporting .NET Core on v6, but only including SqlBuilder, SqlSet and Database. SqlTable depends on System.Data.Linq.Mapping, if anyone wants to fork it from referencesource and make it work on .NET Core then I'd be happy to use it.

[2016-09-12 15:55] maxtoroq commented on #46
Included in v6

[2016-09-12 15:55] #46 closed

[2016-09-19 22:21] maxtoroq commented on #25
The algorithm to determine the *other member* of an association is very simplistic. The names, as specified in `[Association(Name)]`, must match. If you don't use names, and the other type has more than one association, and the other member is not the first in declaration order, then it picks the wrong member.

[2016-09-20 01:14] #25 closed

[2016-09-20 01:19] maxtoroq commented on #25
The fix was to only match names when they are not null (only needed for corner cases). If names are null, match types.

[2016-09-20 21:02] #24 closed

[2016-09-21 02:13] #37 closed

[2016-09-21 16:10] maxtoroq commented on #29
Both behaviors are useful.

[2016-09-21 16:10] #29 closed

[2016-10-18 11:54] azachert opened #49 "Missing TOP and SKIP methods in SqlBuilder"
Hi,

Are you planning to add TOP and SKIP methods to SQL Builder?

BR,

[2016-10-18 15:47] maxtoroq commented on #10
In v6, this is no longer an issue. For more information see [SqlBuilder Tutorial: Lists](http://maxtoroq/github.io/DbExtensions/docs/SqlBuilder.html#lists).

[2016-10-18 15:52] maxtoroq commented on #49
A method for TOP doesn't make much sense, since it goes between the SELECT clause name and the column list, e.g.:

[code]

About SKIP, perhaps you are confusing with LINQ, if that's the case consider using SqlSet instead.

[2016-11-03 09:52] cryo75 opened #50 "Missing ToCommand"
Version 5.1.0 had ToCommand. It's mising in 6.0.0

[2016-11-03 14:34] maxtoroq commented on #50
It's documented in the migration guide, you have to use Database.CreateCommand now.

[2016-11-14 22:00] #50 closed

[2016-11-14 22:00] #49 closed

[2016-12-22 13:49] gideonkorir opened #51 "Async support"
Hi,

Awesome library love it. Do you have any plans for async support?

[2016-12-23 00:19] maxtoroq commented on #51
No plans currently. I don't know enough about async. I'd accept guidance to evaluate feasibility.

[2016-12-23 12:06] gideonkorir commented on #51
I was talking about the ```*.Async``` APIs on ```DbConnection e.g. connection.OpenAsync``` and ```DbCommand e.g. command.ExecuteScalaAsync```.
We could have something like IAsyncDatabase that depends on the ```System.Data.Common``` APIs?

I've tried implementing it but some classes e.g. ```SqlSet``` constructor is marked internal.
Hope that makes sense. Will to help out.

[2016-12-23 14:28] maxtoroq commented on #51
If I understand correctly, the idea is to add methods to the API that, instead of returning `T`, return `Task<T>`. What are the methods you tried to implement?

[2017-01-02 10:03] gideonkorir commented on #51
Hi, was passed out the entire time :) I hadn't gotten to working with SqlSet and SqlTable but here is a gist on IDatabase [IAsyncDatabase](https://gist.github.com/gideonkorir/d4717529174d19d3e6834f8eac41a7ee). Because in V6 we are using ```IDbConnection``` I added helper methods to try execute the operation in ```Async``` fashion if possible

[2017-01-02 22:21] maxtoroq commented on #51
Hi. Decided I don't want to maintain code I don't use and don't fully understand (not a good recipe thinking long term). However, if you want to create your own project/package (e.g. DbExtensions.Async) then I'd be happy to make it easier for you, e.g. giving you access to internal members using `[InternalsVisibleTo]`, or making non-breaking changes so the integration is easier.

[2017-01-03 20:15] gideonkorir commented on #51
Awesome thanks, the team decided to use [NPoco](https://github.com/schotime/NPoco) for the current project but I don't mind working on an Async version. I can fork the project and make the necessary changes in my fork then I can keep updating you on what changes I would need and why, does that sound ok?

[2017-01-03 21:14] maxtoroq commented on #51
Sounds good.

[2017-02-16 23:46] weisso5 opened #52 "CommandTimeout setting"
Hello,
   Excellent library. Running into a Command Timeout situation when using Map:

`db.Map<SomeObject>(sql).ToArray();`

I know there is the `db.CreateCommand(sql);` but then you lose the nice and simple POCOMapping you offer.

Any plans to allow settings to be pushed into the internal call to CreateCommand (or another solution):

`return (IEnumerable<TResult>) new MappingEnumerable<TResult>(t

[2017-02-17 03:16] maxtoroq commented on #52
I think having a configuration setting would be the least intrusive change, although it would affect all commands, but you could temporarily set then reset it.

Actually, there was a `Map` extension method for `IDbCommand` in v5, but the API was simplified in v6 and most extension methods didn't make the cut.

[2017-02-17 14:25] weisso5 commented on #52
Agreed, I was looking at it at the same way transaction was set:

`if (transaction != null) {
            command.Transaction = transaction;
         }`

thus would affect all commands created with this Database object,  Look forward to see what you come up with.

[2017-07-02 12:40] KamyarP opened #54 "Accessing CommandTimeout property"
Many thanks for sharing your excellent work.
I'd like to be able to change CommandTimeout property. I know CreateCommand lets me have control over the created command. But then I'll lose the dynamic goodness in the SqlSet. Here's a sample of what I'm trying to do:

var query = new SqlBuilder().SELECT("*").FROM("MyTable");
var db = new Database("MyConnectionString", "System.Data.SqlClient");
var da

[2017-07-03 00:31] maxtoroq commented on #54
Duplicate of #52

[2017-07-03 00:33] maxtoroq commented on #52
Note to self: Consider making `CreateCommand(string, object[])` virtual.

[2017-07-23 18:33] maxtoroq commented on #44
Planning on supporting .NET Core 2.0, waiting for RTM. Need testers though.

[2017-07-23 20:12] Gillardo commented on #44
Happy to be involved, whether means testing or coding.

[2017-07-23 22:22] maxtoroq commented on #44
@Gillardo Great. Stay tuned.

[2017-07-23 22:24] #54 closed

[2017-07-28 10:47] Gillardo commented on #10
Cannot find SQL.param in latest code ??  Has it been removed?  I am having trouble adding the byte[] array

[2017-07-28 14:49] maxtoroq commented on #10
`SQL.Param` was dropped in v6. Arrays are no longer special. To expand an array into a list you must call `SQL.List`.

[2017-07-28 15:04] Gillardo commented on #10
And this also applies to byte[] when the field is a concurrency field?

[2017-07-28 15:15] maxtoroq commented on #10
No, it shouldn't. Perhaps if you show me some code I can help.

[2017-07-28 15:17] Gillardo commented on #10
Same code as at the top of here #39

[2017-07-28 15:26] maxtoroq commented on #10
Looks like a provider issue. If `System.Int64[]` is the type of the parameter, looks like the provider is getting the same type but for some reason not liking it.

[2017-09-13 09:14] mslaraba opened #55 "Auto Map with POCO, relations and all fields, without mentioning all the columns in the query"

[2017-09-13 09:17] mslaraba commented on #55
in the given example (Categorie, Product) you have mentioned how to load relations, but you must mention all fields.
also you had CategoryId and ProductId. in my case I use Id for every poco (table) so when I load using a relation ship (LEFT_JOIN), all loaded classes had the same Id (the one of the LEFT_JOIN clause)

[2017-09-13 12:08] maxtoroq commented on #55
I'm not sure I understand your question correctly, but you can use `SqlSet` to load associations using `Include()`.

[2017-09-13 12:55] mslaraba commented on #55
@maxtoroq I think that's it, I didn't try (see) it, I shall test it and close the issue if all is good

[2017-09-22 14:15] #55 closed

[2017-09-22 14:22] maxtoroq commented on #44
.NET Standard 2.0 does not include `DbProviderFactories`, see dotnet/corefx#20903

Need to investigate what other ORMs are doing as a workaround, or keep waiting.

[2017-09-24 13:04] maxtoroq commented on #44
Using convention-based `DbProviderFactories`. Will work for most providers.

@Gillardo The `dev-netstd` branch has a new project called `DbExtensions.netstd`. Give it a try and let me know how it goes.

[2017-09-25 07:28] Gillardo commented on #44
Thanks @maxtoroq will look at using this shortly

[2017-10-03 11:46] Gillardo commented on #44
@maxtoroq i am guessing there is no nuget package for this yet?  I have to build from source and reference in my project?

[2017-10-03 12:56] maxtoroq commented on #44
@Gillardo Yep.

[2017-10-07 19:59] maxtoroq opened #56 "Support updates when using updatable keys"
SqlTable uses the new key in the update predicate instead of the old key. Since there's no change tracking, a new overload is required.

A workaround that I'd recommend only for single column keys is the following:

[code]

[2018-02-04 14:37] maxtoroq commented on #56
Shipped in v6.1.0

[2018-02-04 14:37] #56 closed

[2018-02-04 14:37] maxtoroq commented on #52
Shipped in v6.1.0

[2018-02-04 14:37] #52 closed

[2018-02-04 17:19] maxtoroq commented on #56
Added new `SqlTable.Update` overload, e.g.:

[code]

[2018-03-08 16:32] DynamicCommander opened #57 "Using SqlBuilder without Database object."
I just need SqlBuilder without the database connection part. I am generating a query string but without the use of the Database object it never fully builds the command. Is there a way around this? I'm doing my own connection code already, just ran into the issue of dynamically creating queries.

Thanks!

[2018-03-08 21:13] maxtoroq commented on #57
You can pass your existing connection to the Database constructor.

[2018-03-09 15:13] DylanHigbee commented on #57
When I try to create a new Database() object, but I'm getting an error that I need a default connection name key in appSettings configuration section. I've looked through the documentation and cannot find anything that references this.

[2018-03-09 16:28] maxtoroq commented on #57
You said you already have a connection, then do this:

[code]

BTW, what version are you using?

[2018-03-09 16:43] DynamicCommander commented on #57
Yes but my connection that I already have isn't using DbExtensions, sorry should have been clear. I'm using System.Data.SqlClient SqlConnection for that. So what I was trying to do was create a Database using the connection string that I have built ""Server=..., ...;Database=...;User ID=...;Password=..;" format. Maybe I'm just really confused about how to use DbExtensions. Basically what I'm tryin

[2018-03-09 16:44] DynamicCommander commented on #57
I'm using this in conjunction with Unity so I'm stuck in .NET3.5 so DbExtensions v4.

[2018-03-09 17:59] maxtoroq commented on #57
In v4 you don't need Database, call ToCommand and pass your SqlConnection. See:

https://github.com/maxtoroq/DbExtensions/blob/v4/docs/SqlBuilder.md
https://github.com/maxtoroq/DbExtensions/blob/v4/docs/api/DbExtensions/SqlBuilder/ToCommand.md

[2018-03-09 18:08] DynamicCommander commented on #57
Okay this is leading me in the right path, but I'm still getting the an error. "ConfigurationErrorsException: Failed to find or load the registered .Net Framework Data Provider 'System.Data.SqlClient.SqlConnection' System.Data.COmmon.DbProviderFactories.GetFactory(System.String providerInvariantName)

Any ideas? Also, thank you so much for your help, been stuck on this for a while.

[2018-03-09 18:52] maxtoroq commented on #57
That's weird. Try passing SqlClientFactory.Instance instead.

[2018-03-09 18:58] DynamicCommander commented on #57
Okay that worked! Thank you for your help, I appreciate it!

[2018-03-11 20:06] #57 closed

[2018-03-13 10:53] DynamicCommander opened #58 "Using .SELECT with DISTINCT and List<string>."
Hello again.

So what I'm trying to do is pass a list of column names that I want to use DISTINCT on. However, I can't seem to figure out how the param[] parameter works. When I call for example .SELECT("DISTINCT ", myList.ToArray()); The resulting query does not contain the array of strings that I passed into it.

Also I am having trouble understanding how to go from '@p0' to 'Wisconsin' which is

[2018-03-13 14:21] maxtoroq commented on #58
The *params* parameter is for parameter values only, not for column names. Do a simple string join:

[code]

[2018-03-13 14:32] DynamicCommander commented on #58
Ah okay, that seems like a good solution to that. I'm new to SQL so trying to learn SQL and DbExtensions at the same time is quite the task.

Thanks for your help!

[2018-03-13 18:24] #58 closed

[2018-04-05 07:59] beginflints opened #59 "Dynamic SQL"
Hello
I have some issue about dynamic sql
In this sample use type parameters are int(can null), I trying to use string and use ".Hasvalue" it doesn't work.

Thank.

![image](https://user-images.githubusercontent.com/38065497/38353198-ec190e3a-38df-11e8-8622-3040e0169732.png)

[2018-04-05 16:56] maxtoroq commented on #59
Try `_If(value != null, ...)`

[2018-04-08 04:49] beginflints commented on #59
Do you mean like this?
![image](https://user-images.githubusercontent.com/38065497/38463327-8dd4d6c0-3b22-11e8-9b57-f78af4b61a11.png)
it doesn't work for me, Or I do something wrong?

[2018-04-08 04:50] beginflints commented on #59
![image](https://user-images.githubusercontent.com/38065497/38463352-0e2101dc-3b23-11e8-8997-9e26976d0aac.png)

[2018-04-08 04:51] beginflints commented on #59
![image](https://user-images.githubusercontent.com/38065497/38463355-1cc46ac6-3b23-11e8-812b-a5f1e378f469.png)

[2018-04-08 13:14] maxtoroq commented on #59
`_If(REF_NO != null, ...)`

[2018-04-09 07:34] beginflints commented on #59
It work. !!
It's very useful for me.
Thanks for your help!

[2018-04-09 09:48] beginflints commented on #59
Sorry I'm found some error at runtime,
This is my code
![image](https://user-images.githubusercontent.com/38065497/38489119-a3994c1e-3c0f-11e8-8c12-991019039ab4.png)

Variables
![image](https://user-images.githubusercontent.com/38065497/38489386-708e7a14-3c10-11e8-89c9-fa4f7ebb7c92.png)

Have some error at runtime
![image](https://user-images.githubusercontent.com/38065497/38489052-72d72416-3c0f-1

[2018-04-09 11:26] beginflints commented on #59
I'm apologize, it's my fault, I thought is index ({0}>{1}>{2}) use sequentially only,
Now I'm used {0} for first variable each commands.

[2018-04-10 23:11] #59 closed

[2018-06-25 08:35] GerardBalaoro opened #60 "SqlBuilder.ToString does not include quotation marks"
[code]
Produces:
[code]
I'm using the string format function for substitution, as I cannot find the documentation to extract the SQL query with the values:
[code]

[2018-06-25 15:09] maxtoroq commented on #60
Cannot reproduce, the result should be:

[code]

Use the Database class to turn the query into a command, see the [tutorial](https://maxtoroq.github.io/DbExtensions/docs/SqlBuilder.html#overview).

[2018-06-26 02:05] GerardBalaoro opened #61 "Documentation: Getting Query Results"
I can't find any documentation oh how to read query results from Database.Execute()

[code]

[2018-06-26 03:07] maxtoroq commented on #61
Look harder.

[2018-07-10 02:51] #60 closed

[2018-07-18 21:13] TwitchBronBron opened #62 "LIMIT and OFFSET incorrectly adding {0} instead of actual value."
It seems like the .LIMIT and .OFFSET items aren't working quite right. I would expect that function to insert the raw integer into the query, but instead it inserts the string placeholder. Is this a bug or by design?

[code]

[2018-07-21 11:54] vikasmohal opened #63 "There is already an open DataReader associated with this Connection which must be closed first"
**Is there any way to create multiple Recordset for each Include....**

An unhandled exception of type 'MySql.Data.MySqlClient.MySqlException' occurred

Additional information: There is already an open DataReader associated with this Connection which must be closed first.

[2018-07-21 15:11] maxtoroq commented on #63
If the provider doesn't support MARS, you can only eager-load a one-to-many association for a single entity, e.g. using Single or First.

[2018-07-21 16:14] TwitchBronBron commented on #44
@maxtoroq if I did the work to set up appveyor scripts, would you be open to publishing nightly prerelease dotnet core versions of this library to nuget or myget so we don't have to pull down and compile ourselves?

[2018-07-21 16:33] maxtoroq commented on #44
@TwitchBronBron I'd be happy to pack a pre-release if someone does some testing to make sure it actually works.

[2018-07-25 10:55] TwitchBronBron commented on #44
@maxtoroq I'd be more than willing to do some testing to verify it actually works. Let me know how I can help!

[2018-07-25 12:59] maxtoroq commented on #44
@TwitchBronBron I just need someone to use it successfully in a real .NET Core project.

[2018-08-10 09:28] jiangpan opened #64 "is support multi cte"
example:
with a as( select col1 ,col2  from  table1 )
, b as ( select col3,col4 from table2 )
,c as (select col1,col2,col3,col4 from a inner join b on a.col1 = b.col4)
select * from c

[2018-08-11 20:59] maxtoroq commented on #64
SqlBuilder only provides methods for basic clauses that most SQL dialects support. However, you can [extend SqlBuilder](https://maxtoroq.github.io/DbExtensions/docs/SqlBuilder.html#extensibility) using extension methods.

[2018-08-22 13:57] #64 closed

[2018-08-22 13:57] #63 closed

[2018-08-22 13:58] #61 closed

[2018-08-28 05:06] damiensawyer commented on #44
If anyone is interested, I 'think' that I got it working ish in netstandard 2.0. I've not published a nuget, however the code is https://github.com/damiensawyer/dbextensionscore/commits/master
Basically I created a netstandard2.0 project, copied in the code, deleted anything that wouldn't compile, added it to our other project and all our tests passed. I have no idea what the code did that I delet

[2018-08-29 13:55] maxtoroq commented on #44
I've just published 6.2.0-preview1 which supports `netcore2.1`. Cannot do `netstandard2.0` until it includes `DbProviderFactories`. @Gillardo @TwitchBronBron @damiensawyer

[2018-09-26 14:12] DanielCauser opened #65 "Sqlite support?"
Is it possible to use this lib to build queries for sqlite?

[2018-09-26 20:15] maxtoroq commented on #65
Yes.

[2018-10-02 19:17] mitchelllee222 opened #66 "Database.From on Annotated Types Supported?"
I have a class that I annotated the table name using the TableAttribute on the class and column names with the ColumnAttribute on the properties.  I noticed when I used the Database.Table method, it honors the attribute tags and loads my objects correctly.  When I use the Database.From method, it loads my object only if my property name matches my column names in my tables and doesn't seem to care

[2018-10-02 19:31] mitchelllee222 commented on #66
`Imports DbExtensions

<Table(Name:="acu_forms")> Public Class ACU_FORM
#Region "Properties"
    <Column(Name:="co_id")> Public Property ID As Integer
#End Region
End Class
`

This works with attribute tags and you get right number of records with property set:

`Imports DbExtensions

Module Module1

    Sub Main()
        DatabaseConfiguration.DefaultConnectionString = "Server=gss2k16dlayer;port=

[2018-10-02 21:20] maxtoroq commented on #66
The issue is that you are using SqlBuilder, so you are responsible for mapping columns to properties.

A hibrid approach would be something like this (C#):

[code]

[2018-10-02 22:04] mitchelllee222 commented on #66
First method definitely works, seems like it's loading specifically what properties I want to the object and honoring the attributes.  On the select I use the property name and I'm having to wrap it in double quotes otherwise Postgres doesn't like it.  So the query looks like:
SELECT "ID" FROM (SELECT "co_id" AS "ID" FROM "acu_forms") t0
If I don't wrap it in double quotes I get:
SELECT ID FROM (S

[2018-10-03 00:51] maxtoroq commented on #66
Yes. Always remember when using SqlBuilder you are responsible of writing valid SQL.

As an alternative, you can use Database.QuoteIdentifier (although it can make your code harder to read):

[code]

You can't. Stick to the first method.

[2018-10-06 12:39] #66 closed

[2018-10-06 12:40] #65 closed

[2018-10-13 15:45] seddik opened #67 "PostgresSQL support"

[2018-10-13 16:17] maxtoroq commented on #67
Some users have used it successfully with PostgresSQL.

[2018-10-13 21:31] maxtoroq commented on #67
DbExtensions can work without any specific provider details because it uses DbCommandBuilder to get that stuff.

When I released v6.0, .NET Core didn't have SqlCommandBuilder, so I introduced the concept of known providers, for SqlServer, MySQL, etc. I also added config properties to DatabaseConfiguration, so even if the provider does not implement the needed methods on DbCommandBuilder, you can s

[2018-11-26 10:31] bmperdue opened #68 "Please create a DotNet Standard Version."
Here is the code for the DbProviderFactories:
using System;
using System.Collections.Generic;
using System.Configuration;
using System.Data.SqlClient;
using System.Diagnostics;
using System.Text;

namespace System.Data.Common
{
    public static class DbProviderFactories
    {
        private const string AssemblyQualifiedName = "AssemblyQualifiedName";
        private const string Instance = "Ins

[2018-12-06 22:13] maxtoroq commented on #68
Both .NET Core and .NET Standard support are tracked by #44.

[2018-12-06 22:13] #68 closed

[2018-12-06 22:15] maxtoroq commented on #44
Leaning towards waiting for `netstandard2.1`

[2018-12-06 22:19] maxtoroq opened #69 "Compile with C# 8 to leverage nullable reference types annotations"
This will allow applications using C# 8+ to get warnings when an API on DbExtensions is annotated as nullable.

[2018-12-10 18:48] TwitchBronBron commented on #44
@maxtoroq we've been using 6.2.0-preview1 at work for a few weeks now (in development), and it seems to be working great with the parts we use. Thanks for getting that put together .

[2018-12-14 10:40] doriant commented on #44
Hello! Can anybody help me? I use the DbExtensions framework in my plugin for NopCommerce 4.10 which uses the .net core 2.1 platform. I installed the DbExtensions (v6.2.0-preview2) from the Package Manager console and added the appropriate namespace in my class. Visual Studio sees DbExtensions but when I try to call a class from it ('Database' for example), I get an exception:
'Could not load file

[2019-03-25 09:22] jerauskin opened #70 "Association with multiple keys"
Hello, I am usiing this awesome librery but I have a question. Is it possible to use association in SqlSet with multiple keys like this ?

[code]
Thanks

[2019-03-25 15:18] maxtoroq commented on #70
Yes, multi-column keys are supported, although some methods only work with single-column keys, like Find and ContainsKey.

[2019-03-25 15:22] jerauskin commented on #70
Thanks, but I don't see in documentacion how I should implement that. I only see that:

[code]
There is only one "ThisKey" on each Association

Best regards

[2019-03-25 16:07] maxtoroq commented on #70
For multi-column keys use a comma-separated list. e.g.:

[code]

[2019-03-25 16:11] jerauskin commented on #70
Ok, thanks

[2019-04-11 13:27] jerauskin opened #71 "Error using SqlSet using depth path"
Hello, I don't know if it is an error or I am doing something wrong. I have this class:

[code]
And when I execute this sentence:
[code]
I get this error:
[code]
Debug output is this:
[code]

Best regards

[2019-04-11 14:14] maxtoroq commented on #71
That's a big query, if you can pin-point the issue I'd be happy to help.

[2019-05-01 11:35] NetSolutionArchitect opened #72 "Problem with multi-foreign-key associations on database level"
Let's assume below example. How to...bypass issue concerning multi include error, which throws one-to-may exception in SqlTable (One-to-many associations can only be specified once in an include path)? Problematic construct in **bold**.

Example:
[code]

Objects Definition:
[code]

[2019-05-02 02:34] maxtoroq commented on #72
There's no workaround, what you are trying to do is not supported.

[2019-07-01 14:26] #72 closed

[2019-07-01 14:32] #70 closed

[2019-07-01 14:33] #71 closed

[2019-10-01 01:16] maxtoroq commented on #44
v6.2.0-preview3 now supports both .NET Core 2.1 and .NET Standard 2.1

[2019-10-01 01:18] maxtoroq commented on #69
Too intrusive for a minor release. Closing for now.

[2019-10-01 01:18] #69 closed

[2019-10-31 13:53] cryo75 opened #73 "Add support for .NetStandard 2.1"
Is it possible to add support for .NetStandard 2.1?

[2019-10-31 15:36] #73 closed

[2019-12-20 20:34] maxtoroq commented on #44
Shipped in v6.2.0

[2019-12-20 20:34] #44 closed

[2020-01-29 11:44] Gillardo opened #74 "Hitting SQL 2100 parameter limit"
I have my SqlBuilder which runs perfectly, but in some situations the parameters can go above 2100 which is the SQL limit.  Could it be possible that we could have a setting on an SQLBuilder `ParametersAsValues = true` or something similar, we could be set on a single SQLBuilder and if you go over 2100 parameters, then all parameters are just added as values instead of using parameters?

Yes i kno

[2020-01-29 12:09] #74 closed

[2020-10-28 16:31] jader1313 opened #75 "Tests or samples for .Net Core?"
Is there a test or example for a .Net Core project?
What version of .Net Core does it support?

[2020-10-29 01:38] maxtoroq commented on #75
No.

See [Installing](https://maxtoroq.github.io/DbExtensions/docs/installing.html).

[2020-12-17 13:18] azazlhr opened #76 "How to Prepend Cache Statement Before Select Clause?"
Hi,
I'm using this great library to build SQL statements to avoid SQL injections; so far so good.

But now I want to create a SQL statement to support caching in SQLite DB.

**What I need:**
"Cache [CacheTableName] select * from Customers".

**What I get:**
"Select Cache [CacheTableName] * from Customers"

**Code snippet**
`
var queryBuilder = new SqlBuilder()
	.SELECT("Cache [CacheTableName] *")

[2020-12-17 14:06] maxtoroq commented on #76
Use AppendClause:

[code]

[2020-12-17 14:06] #76 closed

[2021-01-19 02:09] #75 closed

[2021-09-03 09:01] Gillardo opened #78 "Use same parameter when value is the same"
If i create a query and pass in the same parameter value, it generates a new parameter for this.  It would be much more efficient if the code only added 1 parameter for each unique value instead.

Can this be done?

[2021-09-04 19:28] maxtoroq commented on #78
This could be done, but unless you are using a huge number of parameters, I don't see a big perf gain. It would also be a breaking change for code that depends on the number of parameters generated.

[2021-09-04 19:47] Gillardo commented on #78
We are generating queries and putting them all together so it's only one database connection, I think this would be a good changed. At the moment it easily generates over 2000 parameters but it's around 4 values

[2021-09-07 23:28] maxtoroq commented on #78
You can override the CreateCommand method on Database.

Another perf issue I can think of is parameter equality. Every time you add a parameter you have to check if it's equal to any of the previously added. That is unless you use something like a hash code.

[2021-09-08 02:32] maxtoroq commented on #78
https://github.com/maxtoroq/DbExtensions/blob/b2c096576d1619ef724b9ac9df257ba8567de462/src/DbExtensions/Database.cs#L412

[2022-01-05 08:35] EthemAcar-Dev opened #81 "ColumnAttribute Name does not work"
public class MyTableName
{
[Column(Name = "nOffer")]
public int Offer { get; set; }
}

This is my entity model. When I Map my query using DBExtensions I get 100 results back but the values are all 0.

If i change the property to table name like:

[Column(Name = "nOffer")]
public int nOffer { get; set; }

Then i get correct values.

[2022-01-05 13:12] maxtoroq commented on #81
How are you building the query? If you are using SqlBuilder or a plain string, you are responsible for the column to property mapping.

[2022-01-05 14:10] EthemAcar-Dev commented on #81
var query = SQL.SELECT("TOP (1) *").FROM("MyTableName");
var execution = _db.Map<MyTableName>(query)?.First();

Isn't this the correct way?

[2022-01-05 15:23] maxtoroq commented on #81
Try this:

[code]

[2022-01-06 09:02] EthemAcar-Dev commented on #81
Gives the same result back as my previous code.
Seems like Column name property is not working correctly? Which is bad for me because there are some columns that start with numbers on my database and C# does not accept numbers as property names.

[2022-01-06 13:26] maxtoroq commented on #81
Are you using the Table attribute on the entity class?

[2022-01-06 13:40] EthemAcar-Dev commented on #81
[Table(Name = "MyTableName")]
 public class MyTableName
 {
 [Column(Name = "nOffer")]
public int Offer { get; set; }
 }

 Yeah like this.

[2022-01-06 14:53] maxtoroq commented on #81
I cannot reproduce the issue. If you call `_db.Table<MyTableName>().GetDefiningQuery().ToString()` what do you get? That way we can find out if it's using the column name or not.

[2022-01-06 15:02] EthemAcar-Dev commented on #81
Aha my bad it all makes sense right now.

DbExtensions uses the given Column name value to build SQL like:

[code]
So if i build a query using DbExtensions SQL object i should type it as follow:
[code]
Which returns the correct database value.

Thank you very much for the support.

[2022-01-06 15:02] #81 closed

[2022-01-17 01:30] maxtoroq opened #82 "Expose table name metadata"

[2022-01-19 01:49] #82 closed

[2022-03-12 02:57] maxtoroq commented on #78
Closing as this is a breaking change.

[2022-03-12 02:57] #78 closed

[2022-08-29 18:01] Gillardo commented on #74
Any news on this? it would be a great feature

[2022-08-29 21:19] maxtoroq commented on #74
You can override Database.CreateCommand method to implement it.

[2022-09-23 12:53] Gillardo commented on #74
Just encase anyone wants help on this, this is what i have implemented by overriding the `Database.CreateCommand` method

So it checks if the command has over 2050 parameters (using constant) if under then proceeds as normal.
If over, then it will create unique parameters for each value, put them in a dictionary and use those instead.  If by some reason that goes over the declared 2050 parameters,